<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
                    <table>
                    <thead>
                    <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in task_list %}
                    <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date|date:"F j, Y" }}</td>
                    <td>{{ task.due_date|date:"F j, Y" }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                    </tr>

                    </tbody>
                    </table>
                    <div>
                    {% empty %}
                    <p>You have no tasks</p>

                    {% endfor %}
                </div>
            </div>
    </main>
</body>
</html>
